/*Данные стили применяются ко всем компонентам
уберает все изначальные отступы*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #fff;
    --color-fg: #0b0b0b;
    --color-muted: #666;
    --color-primary: #0a84ff;
    --color-danger: #b00020;
    --color-focus: aquamarine;
    
    --color-scheme: light;

    --font-body: system-ui,-apple-system,"Segoe UI",Roboto,Arial,sans-serif;
    --space-1: 4px;
    --space-2: 8px;
    --spsce-3: 16px;
    --space-4: 24px;
    --space-5: 4px;

    --radius: 12px;
    --shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 8px 24px rgba(0, 0, 0, .08);
}

body.theme-dark{ 
    --color-bg:#0b0b0b;
    --color-fg:#f5f5f5;
    --color-muted:#aaa; 
    --color-primary:#6aa2ff; 
    --color-focus: #222;
    color-scheme: dark;
    background-image: url("img/dark-background.png");
}

button, input, select, textarea, p, h1, h2 {
    color: var(--color-fg);
}

input, button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    border: 3px solid purple;
    border-radius: 10px;
    padding: 4px;
}

input:focus {
    background-color: var(--color-focus);
}

button {
    padding: 4px;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: cornflowerblue;
}

button:hover {
    background-color: aqua;
}

.content-dialog__formm {
    padding: 5px;
    margin: 10px;
    border: 3px solid plum;
    border-radius: 10px; 
    max-width: 250px;
    background-color: darkgrey;
}

body {
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.error {
    border: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: indianred;
    color: floralwhite;
}

.media {
    padding: 4px;
    border: 3px solid blue;
    background-color: cadetblue;
    max-width: 730px;
    max-height: 430px;
}

dialog {
    padding: 1.25rem;
    border: none;
    border-radius: 12px;
    background-position: center;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .5);
}

.form-actions {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.contact-dialog__title {
    margin-left: 30px;
}

:where(a,button,input,select,textarea):focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

:disabled, [aria-disabled="true"] {
    opacity:.6;
    cursor: not-allowed;
}

html {
    scroll-behavior: smooth;
}

:target {
    outline: 2px dashed var(--color-primary);
    outline-offset: 4px;
}

.section {
    padding-block: var(--space-5);
}

.section__title {
    margin:0 0 var(--space-3);
}

.img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

.card__img{ 
  width:220px; height:100%;
  object-fit:cover; object-position:center;
  border-radius:var(--radius); display:block; 
}
